@font-face {
  font-family: "Gotham rounded";
  src: url(GothamRounded-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Gotham rounded", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.input-section {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
}

button {
  border: 1px solid white;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.output {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 120px;
  max-height: fit-content;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  border: none;
  font-size: 1.5rem;
  pointer-events: none;
  background-color: transparent;
}

.output .current-operand {
  pointer-events: none;
  color: white;
  border: none;
  font-size: 2.5rem;
}
